<html>
    <head>
        <title>Bio Data Online for You!</title>
    </head>
    <body>
        <h1>
            Bio Data Online for You!
        </h1>
        {{ content | safe }}

    </body>
</html>